<% if (author) { %>
  <a href="/#/users/<%= author.escape('user_id') %>">
    <%= author.escape('fname') %> <%= author.escape('lname') %>
  </a><br>
<% } %>
<%= comment.escape('content') %>
<button class="like">
  <% if (liked) { %>
    Unlike
  <% } else { %>
    Like
  <% } %>
</button>
Likes: <%= numLikes %>
