<% if (author) { %>
  <a href="/#/users/<%= author.escape('user_id') %>"
     class="comment-author">
    <%= author.escape('fname') %> <%= author.escape('lname') %>
  </a>
<% } %>

 <%= comment.escape('content') %>
<br>

<button class="like btn btn-primary btn-xs">
  <% if (liked) { %>
    Unlike
  <% } else { %>
    Like
  <% } %>
</button>

<% if (likers) { %>
  <div class="likers">
    <%= likers %>
  </div>
<% } %>
