<% if (author) { %>
  <a href="/#/users/<%= author.escape('user_id') %>"
     class="comment-author">
     <div class="comment-author-profile-pic"
          style="background-image: url('<%= author.escape('profile_picture') %>');
                 background-size: cover;
                 background-position: center center;">
     </div>
    <%= author.escape('fname') %> <%= author.escape('lname') %>
  </a>
<% } %>

 <%= comment.escape('content') %>
<br>

<button class="comment-like btn btn-primary btn-xs">
  <% if (liked) { %>
    Unlike
  <% } else { %>
    Like
  <% } %>
</button>

<% if (likers) { %>
  <div class="comment-likers">
    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
    <%= likers %>
  </div>
<% } %>
