<% if (author && recipient) { %>
  <a href="/#/users/<%= author.escape('user_id') %>">
    <%= author.escape('fname') %> <%= author.escape('lname') %>
  </a> =>
  <a href="/#/users/<%= recipient.escape('user_id') %>">
    <%= recipient.escape('fname') %> <%= recipient.escape('lname') %>
  </a><br>
<% } %>

<%= post.escape('content') %>

<% if (post.escape('picture')) { %>
  <img src="<%= post.escape('picture') %>">
<% } %>

<button class="like">
  <% if (liked) { %>
    Unlike
  <% } else { %>
    Like
  <% } %>
</button>
Likes: <%= numLikes %>
