<% if (author && recipient) { %>
  <div class="post-author-recipient">
    <a href="/#/users/<%= author.escape('user_id') %>"
       class="post-author">
      <%= author.escape('fname') %> <%= author.escape('lname') %>
    </a>
    <% if (author.escape('user_id') !== recipient.escape('user_id')) { %>
      <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
      <a href="/#/users/<%= recipient.escape('user_id') %>"
         class="post-recipient">
        <%= recipient.escape('fname') %> <%= recipient.escape('lname') %>
      </a>
    <% } %>
    <br><br>
  </div>
<% } %>

<div class="post-content">
  <%= post.escape('content') %>
</div>

<% if (post.escape('picture')) { %>
  <img src="<%= post.escape('picture') %>">
<% } %>

<button class="like btn btn-primary btn-xs">
  <% if (liked) { %>
    Unlike
  <% } else { %>
    Like
  <% } %>
</button>

<% if (likers) { %>
  <div class="likers">
    <%= likers %>
  </div>
<% } %>
