<% if (friendship) { %>
  <div class="user-info-item">
    <%= friendship.escape('job_title') %> at <%= friendship.escape('company') %>
  </div>

  <div class="user-info-item">
    Trained in <%= friendship.escape('dance_style') %> at <%= friendship.escape('school') %>
  </div>

  <div class="user-info-item">
    Lives in <%= friendship.escape('current_city') %>
  </div>

  <div class="user-info-item">
    From <%= friendship.escape('hometown') %>
  </div>
<% } %>
