<% if (friendship) { %>
  <div class="work">
    <%= friendship.escape('job_title') %> at <%= friendship.escape('company') %>
  </div>

  <div class="training">
    Trained in <%= friendship.escape('dance_style') %> at <%= friendship.escape('school') %>
  </div>

  <div class="current-city">
    Lives in <%= friendship.escape('current_city') %>
  </div>

  <div class="hometown">
    From <%= friendship.escape('hometown') %>
  </div>
<% } %>
