<% if (friendship) { %>
  <h2><%= friendship.escape('fname') %>
  <% if (friendship.escape('nickname')) { %>
    "<%= friendship.escape('nickname') %>"
  <% } %>
  <%= friendship.escape('lname') %></h2>

  <% if (!friendship.escape('stranger')) { %>
    <h4><%= friendship.escape('dance_style') %> | <%= friendship.escape('company') %></h4>
  <% } %>
  
  <% if (friendship.escape('profile_picture')) { %>
    <div class="profile-picture"><img src="<%= friendship.escape('profile_picture') %>"></div>
  <% } %>
<% } %>

<% if (friend_button_val) { %>
  <button class="friend-button"><%= friend_button_val %></button>
<% } %>

<div class="new-post">
</div>

<div class="received-posts">
</div>

<div class="friend-requests">
</div>
