<% if (friendship) { %>
  <div class="cover-photo-area" style="
       background: url(<%= friendship.escape('cover_photo') %>);
       background-size: cover;
       background-position: center center;">
    <div class="user-basic-info">
      <div class="user-fullname">
        <%= friendship.escape('fname') %>
        <% if (friendship.escape('nickname')) { %>
          "<%= friendship.escape('nickname') %>"
        <% } %>
        <%= friendship.escape('lname') %>
      </div>

      <% if (friendship.escape('profile_picture')) { %>
        <div class="profile-picture" style="
             background: url(<%= friendship.escape('profile_picture') %>);
             background-size: cover;
             background-position: center center;">
          <% if (friendship.escape('self')) { %>
            <button type="button" class="btn btn-default change-profile-pic" aria-label="Profile Picture">
              <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
            </button>
          <% } %>
        </div>
      <% } else { %>
        <div class="profile-picture">
          <% if (friendship.escape('self')) { %>
            <button type="button" class="btn btn-default change-profile-pic" aria-label="Profile Picture">
              <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
            </button>
          <% } %>
        </div>
      <% } %>

      <% if (friendship.escape('self')) { %>
        <button type="button" class="btn btn-default change-cover-photo" aria-label="Cover Photo">
          <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
        </button>
      <% } %>
    </div>

    <% if (friend_button_val) { %>
      <button class="friend-button btn btn-default btn-lg">
        <%= friend_button_val %>
      </button>
    <% } %>
  </div>
<% } %>

<div class="profile-navbar">
  <div class="btn-group profile-nav-buttons" role="group">
    <button class="btn btn-primary btn-lg subview-btn">Timeline</button>
    <button class="btn btn-primary btn-lg subview-btn">About</button>
    <button class="btn btn-primary btn-lg subview-btn">Friends</button>
  </div>
</div>

<% if (subviewType === 'timeline') { %>
  <div class="new-post">
  </div>

  <% if (show_info) { %>
    <div class="user-info col-md-4">
    </div>
  <% } %>

  <% if (show_friend_requests) { %>
    <div class="panel panel-info friend-requests col-md-4">
    </div>
  <% } %>

  <div class="received-posts">
  </div>

<% } else if (subviewType === 'about') { %>
  <div class="about">
  </div>
<% } else if (subviewType === 'friends') { %>
  <div class="friends">
  </div>
<% } %>
