<% if (friendship) { %>
  <div class="user-basic-info">
    <div class="user-fullname">
      <%= friendship.escape('fname') %>
      <% if (friendship.escape('nickname')) { %>
        "<%= friendship.escape('nickname') %>"
      <% } %>
      <%= friendship.escape('lname') %>
    </div>

    <% if (!friendship.escape('stranger') && show_info) { %>
      <div class="dance-info">
        <%= friendship.escape('dance_style') %> | <%= friendship.escape('company') %>
      </div>
    <% } %>

    <% if (friendship.escape('profile_picture')) { %>
      <div class="profile-picture">
        <img src="<%= friendship.escape('profile_picture') %>">
      </div>
    <% } %>
  </div>
<% } %>

<% if (friend_button_val) { %>
  <button class="friend-button btn btn-default btn-lg">
    <%= friend_button_val %>
  </button>
<% } %>

<div class="btn-group" role="group" aria-label="...">
  <button class="btn btn-default btn-lg subview-btn">Timeline</button>
  <button class="btn btn-default btn-lg subview-btn">About</button>
  <button class="btn btn-default btn-lg subview-btn">Friends</button>
</div>

<% if (subviewType === 'timeline') { %>
  <div class="new-post">
  </div>

  <div class="received-posts">
  </div>

  <div class="friend-requests">
  </div>
<% } else if (subviewType === 'about') { %>
  <div class="about">
  </div>
<% } else if (subviewType === 'friends') { %>
  <div class="friends">
  </div>
<% } %>
