<div class="panel panel-info user<%= user.escape('id') %>-info">
  <div class="panel-heading">
    <%= user.escape('fname') %> <%= user.escape('lname') %>
  </div>

  <div class="panel-body">
    <%= user.escape('dance_style') %> | <%= user.escape('company') %>
  </div>
</div>
