<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/">
        <% if logged_in? %>
          <%= image_tag("minilogo.png", class: "minilogo") %>
        <% else %>
          <%= image_tag("logo.png", class: "logo") %>
        <% end %>
      </a>
    </div>

    <% if logged_in? %>
      <div class="search-form"></div>
    <% end %>

    <ul class="nav navbar-nav navbar-right">
      <% if logged_in? %>
        <li>
          <a href="/#/users/<%= current_user.id %>">
            <%= current_user.fname %>
          </a>
        </li>

        <li>
          <a href="/">
            Home
          </a>
        </li>

        <li>
          <%= link_to "Log Out", sessions_url, method: :delete %>
        </li>
      <% else %>
        <li>
          <a href="/users/new">
            Sign Up
          </a>
        </li>

        <li>
          <a href="/sessions/new">
            Log In
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</nav>

<% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
