<header class="header">
  <nav class="header-nav group">

    <h1 class="header-logo">
      <% if logged_in? %>
        <a href="/">
          <%= image_tag("minilogo.png", class: "minilogo") %>
        </a>
      <% else %>
        <a href="/">
          <%= image_tag("logo.png", class: "logo") %>
        </a>
      <% end %>
    </h1>

    <ul class="header-list">
      <% if logged_in? %>
        <li class="nav-link-logged-in">
          <a href="/#/users/<%= current_user.id %>">
            <%= current_user.fname %>
          </a>
        </li>

        <li class="nav-link-logged-in">
          <a href="/">
            Home
          </a>
        </li>

        <li class="nav-link-logged-in">
          <%= link_to "Log Out", session_url, method: :delete %>
        </li>
      <% else %>
        <li class="nav-link-logged-out">
          <a href="/users/new">
            Sign Up
          </a>
        </li>

        <li class="nav-link-logged-out">
          <a href="/session/new">
            Log In
          </a>
        </li>
      <% end %>
    </ul>
  </nav>
</header>

<ul>
  <% flash[:errors] && flash[:errors].each do |error| %>
    <li><%= error %></li>
  <% end %>
</ul>
